{% include "includes/header.html" %}
{% include "includes/navbar.html" %}

<div class="content-wrapper">
    <!-- <div style="margin: 0 auto;"></div> -->
        <!-- <div>
            Welcome to the Queens Room Database!
            <br>
            <a href="/map">Click here to see the list of staircases</a>
        </div> -->
        <a href="/map"><img src="/static/hog2.png" style="width:50%; margin: 16px auto; display: block;"/></a>
        <h1 style="display: block; margin: 0 auto; width:fit-content">Welcome to the Queens JCR Room Database</h1>
        <a style="display: block; margin: 0 auto; width:fit-content" href="/map">Click here to see the list of staircases (raven login required)</a>
    <!-- </div> -->
</div>

{% include "includes/footer.html" %}