{% include "includes/header.html" %}
{% include "includes/navbar.html" %}

<div class="content-wrapper">
  {% for building in buildings %}
    <div class="building">
      <h2>{{ building.name }}</h2>
        <div class="card-group">
          {% for staircase in building.staircase_set.all %}
            <a href="/staircase/{{ staircase.name}}">
              <div class="card">
                <p class="card-heading">Staircase {{ staircase.name }}</p>
                <p>{{ staircase.get_room_count }} rooms</p>
              </div>
            </a>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
</div>

{% include "includes/footer.html" %}