{% include "includes/header.html" %}
{% include "includes/navbar.html" %}

<div class="content-wrapper">

    <div class="room-list">
      <h2>{{ room.name }}</h2>

      <h3>Reviews</h3>
      {% if no_new_reviews %}
      <i>There are no recent reviews for this room. Maybe you'll be the first?</i>
      {% else %}
        {% for review in reviews_v2 %}
        <div class="review">
          <div class="card">
            <p class="card-heading">Resident {{ review.year|add:"-1" }}-{{ review.year }}</p>
            {% for key, value in review.ratings_array %}
            <p>{{ key }}: {{ value }}</p>
            {% endfor %}

            {% if review.room_review %}
            <br>
            <p>{{ review.room_review|linebreaksbr }}</p>
            {% endif %}
            {% if review.room_tips %}
            <br>
            <p><b>Tips:</b> {{ review.room_tips|linebreaksbr }}</p>
            {% endif %}

            <br>
            {% for image in review.reviewimage_set.all %}
            <a href="/image/{{ image.id }}"><img style="height:150px" src="/image/{{ image.id }}"/></a>
            {% endfor %}
          </div>
        </div>
        {% endfor %}
      {% endif %}
      <br>
      <br>
      <h3>Old Reviews</h3>
      <p><i>These reviews come from Queens' Quarters, the QJCR's old room database from many years ago. Note that they may be out of date.</i></p>
        {% for review in reviews_v1 %}
          <div class="review">
            <div class="card">
              <p class="card-heading">Resident {{ review.year|add:"-1" }}-{{ review.year }}</p>
              <p>Storage: {{ review.storage_string }}</p>
              <p>Size: {{ review.size_string }}</p>
              <p>Bathroom: {{ review.bathroom_string }}</p>
              <p>Kitchen: {{ review.kitchen_string }}</p>
              <p>Light: {{ review.light_string  }}</p>
              <p>Furniture: {{ review.furniture_string }}</p>
              <p>Noise disruptiveness: {{ review.noise_string }}</p>

              {% if review.comments %}
              <br>
              <p><b>Other comments:</b></p>
              <p>{{ review.comments|linebreaksbr }}</p>
              {% endif %}
              
              <!-- <p class="card-heading"> {{ review.year }}</p>
              <p>Floor: <b>{{ review.storage }}</b></p>
              <p>View: <b>{{ review.size }}</b></p>
              <p>Type: <b>{{ review.bathroom }}</b></p>
              <p>Bathroom: <b>{{ review.kitchen }}</b></p>

              <br>
              <p>{{ review.comment }}</p> -->
            </div>
          </div>
        {% endfor %}

        {% if reviews_v1|length == 0 %}
          <p>Sorry, no reviews for this room.</p>
        {% endif %}
</div>

{% include "includes/footer.html" %}