{% include "includes/header.html" %}
{% include "includes/navbar.html" %}

<div class="content-wrapper">

    <div class="room-list">
      <h2>{{ staircase.name }} Staircase</h2>
        {% for floor_name, rooms in by_floor %}
          <h3>{{ floor_name }}</h3>
          <div class="card-group">

            {% for room in rooms %}
              <a href="/room/{{ room.name }}">
                {% if room.get_review_v2_count == 0 %}
                <div class="card card-no-reviews">
                {% else %}
                <div class="card">
                {% endif %}
                  <p class="card-heading"> {{ room.name }}</p>
                  <p>Floor: <b>{{ room.floor }}</b></p>
                  <p>View: <b>{{ room.view }}</b></p>
                  <p>Type: <b>{{ room.room_type }}</b></p>
                  <p>BR: <b>{{ room.bathroom }}</b></p>

                  <br>
                  {% if room.get_review_v2_count == 0 and room.get_review_count != 0 %}
                  <p class="no-reviews">Old reviews only {% if room.reviews_have_comments %}💬{% endif %}</p>
                  {% elif room.get_review_v2_count == 0 %}
                  <p class="no-reviews">No reviews :(</p>
                  {% elif room.get_review_v2_count == 1 %}</p>
                  <p>1 recent review {% if room.reviews_have_comments %}💬{% endif %}{% if room.reviews_have_photos %}📷{% endif %}</p>
                  {% else %}
                  <p>{{ room.get_review_v2_count }} recent reviews {% if room.reviews_have_comments %}💬{% endif %}{% if room.reviews_have_photos %}📷{% endif %}</p>
                  {% endif %}
                </div>
              </a>
            {% endfor %}

          </div>
        {% endfor %}
      </div>

      <p>Rooms that have written reviews show 💬, and rooms with photos show 📷.</p>
      <br><br>
</div>

{% include "includes/footer.html" %}