/* Global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: BlinkMacSystemFont,-apple-system,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue","Helvetica","Arial",sans-serif;
}

h2 {
  font-weight: 700;
  font-size: 1.6rem;
}

/* Layout */
.content-wrapper {
  width: 60vw;
  margin: auto;
}

@media screen and (max-width: 1200px) {
  .content-wrapper {
    width: 70vw;
  }
}

@media screen and (max-width: 900px) {
  .content-wrapper {
    width: 80vw;
  }
}

@media screen and (max-width: 700px) {
  .content-wrapper {
    width: 90vw;
  }
}

/* Navbar */
nav {
  background-color: #1a7d56;
  color: #fff;
  padding: 10px 20px;
}

nav a {
  text-decoration: none;
  color: inherit;
  
}

nav .nav-title {
  font-size: 1.4rem;
}

/* Components */
.card-group {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 20px;
  row-gap: 20px;
  margin-top: 8px;
  margin-bottom: 16px;
}

@media screen and (max-width: 1600px) {
  .card-group {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 1200px) {
  .card-group {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 900px) {
  .card-group {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 700px) {
  .card-group {
    grid-template-columns: repeat(1, 1fr);
  }
}

.card-group a {
  text-decoration: none;
}

.card {
  border-radius: 2px;
  /* border: 1px #cccccc solid; */
  border-top: #1a7d56 4px solid;
  box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,0.1),0 0px 0 1px rgba(10,10,10,0.02);
  padding: 10px 20px;
  color: #212529;
}

.card p {
  margin: 0;
  font-size: 1rem;
}

.card .card-heading {
  font-weight: 700;
  font-size: 1.1rem;
}

/* Map */

.building, .room-list {
  margin: 40px 0;
}